{
"elements":[
{
location:"0,0",
onActionMethodID:"navHome",
rolloverCursor:12,
showClick:false,
showFocus:false,
size:"40,40",
styleClass:"font-icon large transition-medium",
text:"<span class=\"fa fa-home\"/>",
transparent:true,
typeid:7
}
],
"grouping":false,
"layout":"Absolute-Layout",
"location":"10,40"
}